input {
  okta_system_log {
    schedule       => { every => "30s" }
    limit          => 1000
    auth_token_key => "${OKTA_API_KEY}"
    hostname       => "${OKTA_TENANT}"
  }
}
filter {
    mutate {
      add_field => { "token" => "${LOGZIO_TOKEN}" }
      add_field => { "type" => "okta" }
}
}
output {
tcp {
    host => "${LOGZIO_LISTENER_HOST}"
    port => 5050
    codec => json_lines
  }
}